<section class="login-cadastro-container">
  <section class="login">
    <h3>LOGIN</h3>
    <input type="text" placeholder="cpf" [(ngModel)]="cpf"/>
    <input type="password" placeholder="senha" [(ngModel)]="senha"/>
    <button (click)=login()>LOGAR</button>
  </section>
  <section class="cadastro">
    <h3>CADASTRO</h3>
    <input type="text" placeholder="Nome" />
    <input type="text" placeholder="cpf" />
    <input type="password" placeholder="senha" />
    <input type="password" placeholder="confirmar senha" />
    <button>CADASTRAR</button>
  </section>
</section>
